{% extends "base.html" %}
{% block title %}Videos{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" link href="/static/css/main.css">
{% endblock %}
{% block image %}
<img src='/static/images/NOSPACEJUGGLEHACKER.png' class="center" style="width:820px;height:460px;border:0;">
{% endblock %}
{% block content %}
<br> <br>
<div class="center">
    <img src='/static/images/Videos Graphic.png' style="width:221px;height:204px;border:0;" align="right">
    <h2>Here are some videos of hijacks:</h2>
    <A href="#period3">Period 3 hijacks</A><br>
    <A href="#period5">Period 5 hijacks</A><br>
    <A href="#period7">Period 7 hijacks</A><br>
    <A href="#sillyhijacks">Silly hijacks/non-hijacks</A><br>
    <br><br><br><br><br>
    <h4 id="period3">Period 3 hijacks</h4>
    <iframe width="660" height="371" src="https://www.youtube.com/embed/U0cEkUrJ7AU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id="CEd3I"></iframe><br>
    <i>Ed and Cameron, in Durham</i><br><br>
    <iframe width="660" height="371" src="https://www.youtube.com/embed/mDWx36CHU4I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id="CB3I"></iframe><br>
    <i>Brook and Cameron, in Amersham</i><br><br>

    <h4 id="period5">Period 5 hijacks</h4>
    <iframe width="660" height="371" src="https://www.youtube.com/embed/ZCydG7NEeq4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id="EL5I"></iframe><br>
    <i>Ed and Lukas, in Krelingen</i><br><br>
    <iframe width="660" height="371" src="https://www.youtube.com/embed/OreNh6TNHos" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id="CEl5I"></iframe><br>
    <i>Cameron and Elliot, in Amersham</i><br><br>
    <iframe width="660" height="371" src="https://www.youtube.com/embed/LX6a1SDYoZI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id="CL5I"></iframe><br>
    <i>Cameron and Lisa, in Amersham</i><br><br>
    <iframe width="660" height="371" src="https://www.youtube.com/embed/67uRvFv7npw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id="CEd5I"></iframe><br>
    <i>Ed and Cameron, in Krelingen</i><br><br>
    <iframe width="660" height="371" src="https://www.youtube.com/embed/goCyO23UUWY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id="CEd5II"></iframe><br>
    <i>Ed and Cameron, in Göttingen</i><br><br>

    <h4 id="period7">Period 7 hijacks</h4>
    <iframe width="660" height="371" src="https://www.youtube.com/embed/eULpFe2TJxk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id="CEd7I"></iframe><br>
    <i>Cameron and Ed, in Göttingen</i><br>
    <h4 id="sillyhijacks">Silly hijacks/non-hijacks</h4>
    <iframe width="660" height="371" src="https://www.youtube.com/embed/cUis5tZXXbA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id="CE5II"></iframe><br>
    <i>Cameron and Elliot, in Amersham</i><br>
</div>
{% endblock %}

<iframe width="900" height="500" src="https://www.youtube.com/embed/goCyO23UUWY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>