{% extends "base.html" %}
{% block title %}Gallery{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" link href="/static/css/main.css">
{% endblock %}
{% block image %}
<img src='/static/images/NOSPACEJUGGLEHACKER.png' class="center" style="width:820px;height:460px;border:0;">
{% endblock %}
{% block content %}
    <br> <br>
    <h2 class="center">Here are some examples of networks of hijacks:</h2>
    <p class='center'>For advice on how to interpret these, see:<br><A href="https://www.jugglehacker.com/faqs#Question10">How do I interpret network diagrams?</A></p>
    <img src="/static/images/Aidan'sAgglomeration.png" class="center" style="width:640px;height:480px;border:0;">
    <i class="center">Aidan's Agglomeration. Starting pattern 7,7,8,6,2 Permitted throws 2,6,7,8</i><br>
    <img src="/static/images/Lisa'sLoop.png" class="center" style="width:640px;height:480px;border:0;">
    <i class="center">Lisa's Loop. Starting pattern 7,8,2,7,8,8,2,8,8,2 Permitted throws 2,6,7,8</i><br>
    <img src="/static/images/Cameron'sCluster.png" class="center" style="width:640px;height:480px;border:0;">
    <i class="center">Cameron's Cluster. Starting pattern 7,7,8,8,2,8,6,2,6,6 Permitted throws 2,6,7,8</i><br>
    <br>
    <p class="center">If you you have found a cool network of patterns, and think it should be in the gallery,
    <a href='https://www.jugglehacker.com/contact'>contact me.</a></p>
{% endblock %}