<html>
    <head>
        <title>Video Gallery</title>
        <link rel="stylesheet" link href="/static/css/video_gallery.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <link rel="shortcut icon" href="/static/images/New Favicon.png">
    <img src='/static/images/NOSPACEJUGGLEHACKER.png' class="center" style="width:820px;height:460px;border:0;">
    <a href="/hijack-generator" class="center"><img src='/static/images/Juggle Hacker Menu Icon.png' align="left" style="width:147px;height:49px;border:0;"></a>
    <a href="/faqs" class="center"><img src='/static/images/FAQ Menu Icon.png' align="left" style="width:147px;height:49px;border:0;"></a>
    <a href="/video_gallery" class="center"><img src='/static/images/Videos Menu Icon.png' align="left" style="width:147px;height:49px;border:0;"></a>
    <a href="/gallery" class="center"><img src='/static/images/Gallery Menu Icon.png' align="left" style="width:147px;height:49px;border:0;"></a>
    <a href="/contact" class="center"><img src='/static/images/Contact Menu Icon.png' align="left" style="width:147px;height:49px;border:0;"></a><br><br><br>
    <body>
        <br><br>
        <h2 class="center">Here are some videos of hijacks:</h2>
        <h4 class="center">Period 5 hijacks</h4>
        <iframe class="center" width="660" height="371" src="https://www.youtube.com/embed/ZCydG7NEeq4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
        <i class="center">Ed and Lukas, in Krelingen</i><br>
        <h4 class="center">Period 3 hijacks</h4>
        <iframe class ="center" width="900" height="500" src="https://www.youtube.com/embed/U0cEkUrJ7AU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
        <i class="center">Ed and Cameron, in Durham</i><br>
        <h4 class="center">Period 7 hijacks</h4>
        <iframe class="center" width="900" height="500" src="https://www.youtube.com/embed/eULpFe2TJxk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
        <i class="center">Cameron and Ed, in Göttingen</i><br>
    </body>
</html>