{% extends "base.html" %}
{% block title %}Resources{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" link href="/static/css/main.css">
{% endblock %}
{% block image %}
<img src='/static/images/NOSPACEJUGGLEHACKER.png' class="center" style="width:820px;height:460px;border:0;">
{% endblock %}
{% block content %}
    <br><br>
    <h2 class='center'>Hijacking resources</h2>
    <p class='center'>Hijacks were first described in the New Highgate collection.</p>
    <p class='center'>It can be found on <a href='https://www.juggle.me.uk/passing/' target="_blank">Aidan's Juggling Page</a></p>
    <p class='center'>While you're there, How to steal from your friends is also an excellent resource.</p>
    <p class='center'>Ed Clark further developed the theory of hijacking,
    and wrote up his thoughts in an article called <a href='https://passing.zone/hijacking-in-period-3-5-and-7/' target="_blank">hijacking in period 3, 5 and 7</a></p><br>
    <p class='center'>I have written up my thoughts on what a hijack is,
    and how I developed this generator in <a href="static/pdfs/What is hijacking.pdf" target="_blank">the following article</a></p>

    <h2 class="center">Other great resources</h2>
    <p class='center'><a href='https://passing.zone' target="_blank">Passing Zone</a> has a great selection of passing patterns and resources.</p>
    <p class='center'><a href='https://m.facebook.com/ellipticalproductions' target="_blank">Elliptical Productions</a> helped me out lots with the design of the website.</p>
    <p class='center'>Without it, it would all be black, unaligned text on a cream background</p>
{% endblock %}