<html>
            <head>
                <title>Juggle Hacker</title>
                <link rel="stylesheet" link href="/static/css/main.css">
                <link rel="shortcut icon" href="/static/images/New Favicon.png">
                <img src='/static/images/NOSPACEJUGGLEHACKER.png' class="center" style="width:820px;height:460px;border:0;">
                <a href="/hijack-generator" class="center"><img src='/static/images/Juggle Hacker Menu Icon.png' align="left" style="width:147px;height:49px;border:0;"></a>
                <a href="/faqs" class="center"><img src='/static/images/FAQ Menu Icon.png' align="left" style="width:147px;height:49px;border:0;"></a>
                <a href="/video_gallery" class="center"><img src='/static/images/Videos Menu Icon.png' align="left" style="width:147px;height:49px;border:0;"></a>
                <a href="/gallery" class="center"><img src='/static/images/Gallery Menu Icon.png' align="left" style="width:147px;height:49px;border:0;"></a>
                <a href="/contact" class="center"><img src='/static/images/Contact Menu Icon.png' align="left" style="width:147px;height:49px;border:0;"></a>
                <br><br><br><br>
                <br>
                <h2 class="center"><center>Welcome to Juggle Hacker, a website which finds hijacks between four handed siteswaps.</center></h2>
            </head>
            <body>

                <p class="center">
                    <b style="font-size:20px;">hijack</b><br>
                    <i>/ˈhʌɪdʒak/</i>
                <p class="center">
                <p class="center" style="font-size:12px;">
                    <i style="font-size:14px;">verb</i><br>
                    When one club passer decides to change the pattern which is being juggled, forcing the other passer to change their pattern too.
                <p class="center" style="font-size:12px;">
                    <i style="font-size:14px;">noun</i><br>
                    A certain type of transition between two different club passing patterns.
                <p class="center">
                    For more details on four handed siteswaps and hijacks, see the <a href="/faqs">frequently asked questions.</a><br>
                </p>
                <p class="center">
                    To generate some hijacks, see the <a href="/hijack-generator">Hijack Generator.</a><br>
                </p>

            <p class="center">Powered by Python <ion-icon name="logo-python"></ion-icon><ion-icon name="logo-python-outline"><ion-icon name="logo-python-sharp"></ion-icon></ion-icon></p>
            <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
            </body>
        </html>